/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	list-style: none;
	text-decoration: none;
}

a{
	 color: #ef798a;
}

body{
	background: #f9f5e3;
	font-family: "JetBrains Mono";
}

/* menu */

.menu{
	background: #732a78;
	padding-top: 5px;
/*	padding-bottom: 5px;*/
	padding-right:20px;
	padding-left:20px;

	border-bottom:2px solid #d14081 ;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
/*	justify-content: space-between;*/
	justify-content: space-around;
}
.nav-list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.nav-item{padding: 0 5px 0 5px;}
.nav-item a{color: #f9f5e3; text-decoration: none;}
.search-bar{
	margin:0;
	padding:0;
	outline:0;
	border:0;
	padding-left:5px ;

}
.btn{
	margin:0;
	padding:5px;
	outline:0;
	border:0;
	background:#ccf5ac;
	color: #7e2e84;
	font-weight: bold;
}
/* --------------------------- */

.wrapper {
	width: 80%;
	margin: 10px auto;
}

.container{

	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	justify-content: space-around;
}


.right{
	width: 300px;
	height: 70vh;
	padding-right: 20px;
}

.left{
	width: 900px;
	height: 70vh;
	margin-top: 100px;
}
/* --------------- */
.text-center{
	text-align: center;
}
.pdf-preview{
	height: 90vh;
}

/* ----------------- */

/* pagination */

.pagination {
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	text-align: center;
  }
  
.pagination li {
	display: inline-block;
	margin-right: 4px;
  }
  
.pagination li a {
	background-color: #d14081;
	padding: 2px 10px;
	text-decoration: none;
	font-size: 12px;
	color: #f9f5e3;
  }  
  
.active{
	background-color: #732a78;
  }
  
.pagination li a:hover {
	background-color: #732a78;
  }
/*----------------------*/
.pdf-container{
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	flex-shrink: initial;
	justify-content: space-between;
}

.pdf-container li {
	width: 400px;
	margin-top:5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
}
.pdf-container li h2 {
	font-size: 12px;
	width: 100px;
	margin: 0 auto;
}
.pdf-container li img{
	width:100px;
}
.pdf-container li a {
	text-align: center;

}

hr{
	border: 1px solid #ccf5ac;
}
.hr-center{
	width: 50%;
	text-align: center;
}