{% extends 'base.html' %}

{% block content %}
<div class="form-content">
    <form method="post">
        {% csrf_token %}
        <label for="username" hidden>Username</label>
        <input type="text" name="username" id="username" placeholder="Username">

        <label for="email" hidden>Email</label>
        <input type="email" name="email" id="email" placeholder="user@gmail.com">

        <label for="password1" hidden>Password</label>
        <input type="password" name="password1" id="password1" placeholder="Password">

        <label for="password2" hidden>Confirm Password</label>
        <input type="password" name="password2" id="password2" placeholder="Confirm Password">
        <input class="btn" type="submit" value="Sign Up">
    </form>
</div>
{% endblock %}