{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/htmx.js' %}"></script>
    <title>library-app</title>
</head>
<body>
    <nav class="menu">
        <ul class="nav-list">
			<li class="nav-item"><a href="#">Profile</a></li>
			<li class="nav-item"><a href="{% url 'library:index' %}">Home</a></li>
		</ul>
        
        <form class="nav-list" method="POST" action="{% url 'library:search-results' %}">
            <input class="search-bar" type="search" name='search' placeholder="Search..">
            <button class="btn" type="submit">submit</button>
            {% csrf_token %}
        </form>
    </nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>